.match-list-items {
  list-style-type: none;
}
.thumbnail-image {
  width: 75px;
  height: 75px;
}
@media screen and (min-width: 768px) {
  .thumbnail-image {
    width: 85px;
    height: 85px;
  }
}
.options-button {
  background-color: transparent;
  padding: 0;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .options-button {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 10px;
  }
}
